<div class="mt-5">
    <div *ngIf="player.picture" class="row">
      <div class="col-md-7 col-lg-7">
          <h3 class="text-center text-capitalize mb-5">Editing {{ player.name }} {{ player.last_name }} information</h3>
      </div>
      <div class="col-md-5 col-lg-5">
          <img width="300" height="300" class="img-thumbnail" src="{{ player.picture }}" alt="no image">
          <p class="text-center">Image Preview</p>
      </div>
    </div>
      <div *ngIf="!player.picture">
          <h3 class="text-center text-capitalize mb-5">Editing {{ player.name }} {{ player.last_name }}  information</h3>
      </div>
   
   <form #myForm="ngForm" (ngSubmit)="onSubmit(myForm)">
     <!-- first name input field  -->
     <div class="row">
       <div class="form-group col-md-6 col-lg-6">
          <label for="name">Name</label>
          <input type="text" class="form-control" [(ngModel)]="player.name" 
          [ngClass]="{'is-invalid': p_name.touched && p_name.errors, 'is-valid': p_name.valid}"
          name="name" #p_name="ngModel" 
          pattern="[a-zA-Z]*"
          minlength="3"
          placeholder="Type First Name" required>
          <div class="invalid-feedback" [hidden]="!p_name.errors?.required">
            Name is required...
          </div>
          <div class="invalid-feedback" [hidden]="!p_name.errors?.minlength">
            Name is too short...
          </div>
          <div class="invalid-feedback" [hidden]="!p_name.errors?.pattern">
            Not numbers allowed...
          </div>
       </div>
        <!-- Last name input field  -->
        <div class="form-group col-md-6 col-lg-6">
           <label for="lname">Last Name</label>
           <input type="text" class="form-control" [(ngModel)]="player.last_name" 
           [ngClass]="{'is-invalid': p_lname.touched && p_lname.errors, 'is-valid': p_lname.valid}"
           name="lname" #p_lname="ngModel" 
           pattern="[a-zA-Z]*"
           minlength="3"
           placeholder="Type First Name" required>
           <div class="invalid-feedback" [hidden]="!p_lname.errors?.required">
            Name is required...
           </div>
           <div class="invalid-feedback" [hidden]="!p_lname.errors?.minlength">
            Name is too short...
          </div>
          <div class="invalid-feedback" [hidden]="!p_lname.errors?.pattern">
            Not numbers allowed...
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Position input field  -->
            <div class="form-group col-md-5 col-lg-5">
              <label for="pos">Position</label>
               <select name="position" id="pos" [(ngModel)]="player.pos" class="form-control text-uppercase" #p_pos="ngModel" 
               [ngClass]="{'is-invalid': p_pos.touched && p_pos.errors, 'is-valid': p_pos.valid}"
               >
                 <option value="" disabled>Select a position</option>
                 <option *ngFor="let pos of positions" value="{{ pos }} ">{{ pos }}</option>
               </select>
               <div class="invalid-feedback" [hidden]="!p_pos.errors">
                  Position is required...
                 </div>
            </div>
             <!-- Number Jersey input field  -->
             <div class="form-group col-md-4 col-lg-4">
                <label for="number">Jersey Number</label>
                <input type="number" class="form-control" [(ngModel)]="player.number" 
                [ngClass]="{'is-invalid': p_number.touched && p_number.errors, 'is-valid': p_number.valid}"
                name="number" #p_number="ngModel"
                min="0"
                max="99">
          </div>
            <!-- At bat input field  -->
          <div class="form-group col-md-3 col-lg-3">
             <label for="atbat">At Bat</label>
              <input type="number" class="form-control" [(ngModel)]="player.atbat" 
              [ngClass]="{'is-invalid': p_atbat.touched && p_atbat.errors, 'is-valid': p_atbat.valid}"
              name="atbat" #p_atbat="ngModel"
              min="0">
          </div>
      </div>
      <hr>
  
      <h4 class="text-center">Player's Address</h4>
      <div class="row">
        <!-- Address street input field  -->
        <div class="form-group col">
          <label for="address">Address</label>
          <input class="form-control" type="text" name="address" id="address" placeholder="Street name or Building" minlength="5"
            [(ngModel)]="player.address.street" #p_address_street="ngModel" [ngClass]="{'is-invalid': p_address_street.touched && p_address_street.errors, 'is-valid': p_address_street.valid && p_address_street.touched }"
            required>
          <div [hidden]="!p_address_street.errors?.required" class="invalid-feedback">
            Street name is required
          </div>
          <div [hidden]="!p_address_street.errors?.minlength" class="invalid-feedback">
            Street name is too short or invalid.
          </div>
        </div>
        <!-- Address apt  input field  -->
        <div class="form-group col">
          <label for="apt">Apt</label>
          <input class="form-control" type="text" name="apt" [(ngModel)]="player.address.apt" placeholder="Apt" #p_apt>
        </div>
         <!-- Address city  input field  -->
        <div class="form-group col">
          <label for="city">City</label>
          <input class="form-control" type="text" name="city" [(ngModel)]="player.address.city" placeholder="Type a city" 
          [ngClass]="{'is-invalid': p_address_city.touched && p_address_city.errors, 'is-valid': p_address_city.valid && p_address_city.touched }"
          #p_address_city="ngModel" required>
          <div [hidden]="!p_address_street.errors?.required" class="invalid-feedback">
              City is required...
            </div>
        </div>
  
      </div>
      <div class="row">
           <!-- Address state  input field  -->
        <div class="form-group col">
          <label for="state">State</label>
          <input class="form-control" type="text" name="state" id="state" [(ngModel)]="player.address.state" 
          #p_address_state="ngModel"
          placeholder="Type the state"
          required
          [ngClass]="{'is-invalid': p_address_state.touched && p_address_state.errors, 'is-valid': p_address_state.valid && p_address_state.touched }"
          >
          <div [hidden]="!p_address_state.errors?.required" class="invalid-feedback">
              State is required...
            </div>
        </div>
      <div class="form-group col">
           <!-- Address zipcode  input field  -->
        <label for="zip">Zip Code</label>
        <input class="form-control" type="text" name="zipcode" id="zip" [(ngModel)]="player.address.zipcode" #p_address_zip="ngModel"
          placeholder="Enter the zip code"
          required 
          minlength="5"
          [ngClass]="{'is-invalid': p_address_zip.touched && p_address_zip.errors, 'is-valid': p_address_zip.valid && p_address_zip.touched }">
        <div [hidden]="!p_address_zip.errors?.required" class="invalid-feedback">
          Zip code is required...
        </div>
        <div [hidden]="!p_address_zip.errors?.minlength" class="invalid-feedback">
          Zip code is invalid
        </div>
      </div>
      </div>
      <div class="row">
           <!-- Email input field  -->
        <div class="form-group col">
            <label for="email">Email</label>
            <input type="email" class="form-control" name="email" [(ngModel)]="player.email" #p_email="ngModel"
            pattern="^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$"
            [ngClass]="{'is-invalid': p_email.touched && p_email.errors, 'is-valid': p_email.valid && p_email.touched }"
            >
          <div [hidden]="!p_email.errors?.pattern" class="invalid-feedback">
            Email is invalid
          </div>
          </div>
             <!--Phone input field  -->
          <div class="form-group col">
            <label for="phone">Phone</label>
            <input type="phone" class="form-control" name="phone" [(ngModel)]="player.phone" #p_phone="ngModel"
            pattern="^(\+\d{1,2}\s)?\(?\d{3}\)?[\s.-]?\d{3}[\s.-]?\d{4}$"
            required
            [ngClass]="{'is-invalid': p_phone.touched && p_phone.errors, 'is-valid': p_phone.valid && p_phone.touched }"
            >
          <div [hidden]="!p_phone.errors?.pattern" class="invalid-feedback">
            Phone is invalid
          </div>
          <div [hidden]="!p_phone.errors?.required" class="invalid-feedback">
              Phone is required...
            </div>
          </div>
      </div>
      
      <hr>
      <h4 class="text-center">Player Statistics</h4>
      <div class="row">
        
        <!-- Singles input field  -->
        <div class="form-group col">
          <label for="singles">Singles</label>
          <input class="form-control" type="number" name="singles" id="singles" [(ngModel)]="player.singles" #p_singles="ngModel">
        </div>
        <!-- Doubles input field  -->
        <div class="form-group col">
          <label for="doubles">Doubles</label>
          <input class="form-control" type="number" name="doubles" id="doubles" [(ngModel)]="player.doubles" #p_doubles="ngModel">
        </div>
        <!-- Triples input field  -->
        <div class="form-group col">
          <label for="triples">Triples</label>
          <input class="form-control" type="number" name="triples" id="triples" [(ngModel)]="player.triples" #p_triples="ngModel">
        </div>
        <!-- HRs input field  -->
        <div class="form-group col">
          <label for="hrs">HRs</label>
          <input class="form-control" type="number" name="hrs" id="hrs" [(ngModel)]="player.hrs" #p_hrs="ngModel">
        </div>
        <!-- RBIs input field  -->
        <div class="form-group col">
          <label for="hrs">RBIs</label>
          <input class="form-control" type="number" name="rbis" id="rbis" [(ngModel)]="player.rbis" #p_rbis="ngModel">
        </div>
         
      </div>
      <div class="row">
        <!-- HIDP input field  -->
        <div class="form-group col">
          <label for="hrs">HIDP</label>
          <input class="form-control" type="number" name="hidp" id="rbis" [(ngModel)]="player.hidp" #p_hidp="ngModel">
        </div>
        <div class="form-group col">
          <label for="bb">BB</label>
          <input class="form-control" type="number" name="bb" id="bb" [(ngModel)]="player.bb" #p_bb="ngModel">
        </div>
        <div class="form-group col">
          <label for="fo">F-Out</label>
          <input class="form-control" type="number" name="fo" id="fo" [(ngModel)]="player.fo" #p_fo="ngModel">
        </div>
        <div class="form-group col">
          <label for="ko">KO's</label>
          <input class="form-control" type="number" name="ko" id="ko" [(ngModel)]="player.ko" #p_ko="ngModel">
        </div>
        <!-- Outs input field  -->
        <div class="form-group col">
          <label for="hrs">Outs</label>
          <input class="form-control" type="number" name="out" id="rbis" [(ngModel)]="player.outs" #p_outs="ngModel">
        </div>
  
      </div>
      <hr>
      <h4 class="text-center">Player Additional Info</h4>
      <div class="row">
        <div class="form-group col">
          <label for="dob">Date of Birth</label>
          <input type="date" class="form-control" name="dob" [(ngModel)]="player.dob" #p_dob="ngModel">
        </div>
        <div class="form-group col">
          <label for="pic">{{ imageUpload }}</label>
          <button type="button" class="btn btn-secondary btn-block" (click)="p_pic.click()">{{ btnSuccess }}</button>
        </div>
        <div hidden class="form-control col">
          <input class="form-control" type="file" (change)="onUpload($event)" name="pic" id="pic" accept=".png,.jpg"  [(ngModel)]=player.pic #p_pic>
        </div>
      </div>
      <br>
      <button [disabled]="!myForm.form.valid" class="btn btn-primary btn-block">Update Player</button>
    
   
   </form>
   